<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="NoAuthenticationBasicService.BasicService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="customBinding" bindingConfiguration="SecureBinding" contract="NoAuthenticationBasicService.IBasicService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:52498/NoAuthenticationBasicService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <customBinding>
        <!--Endpoint binding is defined here for BasicService-->
        <!--The ordering of the customBinding elements is important as it is the order in which they are applied to messages-->
        <!--The ordering should be (Transactions => Reliable Messaging => Security => Encoding => Transport)-->
        <binding name="SecureBinding">
          <binaryMessageEncoding />
          <tcpTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">

          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>