<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <!--This is the behavior for the endpoint defined below, if the name is left blank, then it will be the default behavior-->
        <!--for all endpoints that do not explicitly state their behaviorConfiguration-->
        <behavior name="EndpointBehavior">
          <clientCredentials>
            <!--This is where we specify the service certificate for the client-->
            <serviceCertificate>
              <!--certificateValidationMode speficies the type of validation we are using for a certificate-->
              <!--If we want to use self-signed certificates, we have to use PeerTrust or PeerOrChainTrust-->
              <!--Another requirement of self-signed certificates is that they must be installed in the TrustedPeople store-->
              <!--A self signed certificate will fail on chain trust as it does not have a chain of trust to valid CAs on the machine-->
              <!--trustedStoreLocation specifies the location where the service Certificates chain is-->
              <!--revocationMode specifies whether or not we want to check if the certificate is a part of the revocation list, if set to offline, it will use a cached revocation list-->
              <authentication certificateValidationMode="PeerTrust" trustedStoreLocation="LocalMachine" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_IBasicService">
          <security authenticationMode="SecureConversation">
            <secureConversationBootstrap authenticationMode="SspiNegotiated" />
          </security>
          <sslStreamSecurity />
          <binaryMessageEncoding />
          <tcpTransport />
        </binding>
        <binding name="CustomBinding_IBasicService1">
          <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
            requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
            requireSignatureConfirmation="false" canRenewSecurityContextToken="true">
            <secureConversationBootstrap defaultAlgorithmSuite="Default"
              authenticationMode="SspiNegotiated" requireDerivedKeys="true"
              includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
              requireSignatureConfirmation="false">
              <localClientSettings detectReplays="true" />
              <localServiceSettings detectReplays="true" />
            </secureConversationBootstrap>
            <localClientSettings detectReplays="true" />
            <localServiceSettings detectReplays="true" />
          </security>
          <binaryMessageEncoding />
          <sslStreamSecurity />
          <tcpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:52499/OneWayServerAuthenticationBasicService/"
        behaviorConfiguration="EndpointBehavior" binding="customBinding"
        bindingConfiguration="CustomBinding_IBasicService" contract="BasicService.IBasicService"
        name="CustomBinding_IBasicService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>