<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <behavior name="securePeerTrust">
            <clientCredentials>
              <serviceCertificate>
                <authentication certificateValidationMode="PeerTrust"/>
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="secureTcp">
                    <security>
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
              <binding name="unsecureTcp">
              </binding>
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="secureHttp">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="unsecureHttp" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8735/MultipleEndpoints/secure"
                binding="netTcpBinding" behaviorConfiguration="securePeerTrust" bindingConfiguration="secureTcp" contract="BasicService.IBasicService"
                name="secureTcp">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8735/MultipleEndpoints/unsecure"
                binding="netTcpBinding" bindingConfiguration="unsecureTcp" contract="BasicService.IBasicService"
                name="unsecureTcp">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="https://localhost:8734/MultipleEndpoints/secure"
                binding="wsHttpBinding" behaviorConfiguration="securePeerTrust" bindingConfiguration="secureHttp"
                contract="BasicService.IBasicService" name="secureHttp">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/MultipleEndpoints/unsecure"
                binding="wsHttpBinding" bindingConfiguration="unsecureHttp"
                contract="BasicService.IBasicService" name="unsecureHttp">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>