<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SecureWebBehavior">
          <!--We only want to accept HTTPS so we set httpGetEnabled to false but set httpsGetEnabled to true-->
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="True"/>
          <serviceCredentials>
            <clientCertificate>
              <!--We need to define a custom validator to use as the base PeerTrust that would work normally does not work on the transport layer-->
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="MutualSSLAuthenticationService.PeerTrustValidator, MutualSSLAuthenticationService" />
            </clientCertificate>
            <serviceCertificate x509FindType="FindByThumbprint" findValue ="3c4069c8baa2381a4842d3502865fd7b6643d04e" storeLocation="LocalMachine" storeName="TrustedPeople"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpSecure">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="MutualSSLAuthenticationService.BasicService" behaviorConfiguration="SecureWebBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "https://localhost:3432/MutualSSLAuthentication/" />
          </baseAddresses>
        </host>
        <!--Because we are intending this endpoint to be used for REST purposes, we want to use webHttpBinding-->
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpSecure" behaviorConfiguration="WebHttp" contract="MutualSSLAuthenticationService.IBasicService">
          <!--The server Certificate's subject name should be equal to this dns value-->
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --> 
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="webHttpBinding" bindingConfiguration="webHttpSecure" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>

</configuration>
