<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
      <behaviors>
        <endpointBehaviors>
          <!--This is the behavior for the endpoint defined below, if the name is left blank, then it will be the default behavior for all endpoints that do not explicitly state their behaviorConfiguration-->
          <behavior name="EndpointBehavior">
            <clientCredentials>
              <!--This is where we specify the service certificate for the client-->
              <serviceCertificate>
                <!--certificateValidationMode speficies the type of validation we are using for a certificate-->
                <!--If we want to use self-signed certificates, we have to use PeerTrust or PeerOrChainTrust-->
                <!--Another requirement of self-signed certificates is that they must be installed in the TrustedPeople store-->
                <!--A self signed certificate will fail on chain trust as it does not have a chain of trust to valid CAs on the machine-->
                <!--trustedStoreLocation specifies the location where the service Certificates chain is-->
                <!--revocationMode speficies whether or not we want to check if the certificate is a part of the revocation list, if set to offline, it will use a cached revocation list-->
                <authentication certificateValidationMode="PeerTrust" trustedStoreLocation="LocalMachine" revocationMode="NoCheck"/>
              </serviceCertificate>
              <!--The location of the client certificate is defined here-->
              <!--The current find value is the certificates thumbprint, for most cases, you will want to use this as the find value as it will be unique to each certificate-->
              <!--To specify we are searching for a certificate on the machine based on its thumbprint, x509FindType is specified to be FindByThumprint-->
              <!--storeName specifies which store that the certificate is installed it and where we will be looking-->
              <!--storeLocation specifies whether we are looking at the stores on the whole machine, or the one specific to the currently signed on user-->
              <clientCertificate findValue="28564D41EFBC34EEA87AA4A256BC3DC699DAB5B5" storeLocation="LocalMachine"  storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IBasicService">
                <!--security binding is required for certificate authentication to occur-->
                <security authenticationMode="SecureConversation">
                  <!--MutualSslNegotiated specifies we are going to be authenticating both the client and service with x509 certificates-->
                  <secureConversationBootstrap authenticationMode="MutualSslNegotiated"/>
                </security>
                <!--sslStreamSecurity binding supports channel security using an SSL stream-->
                <sslStreamSecurity/>
                <binaryMessageEncoding />
                <tcpTransport />
              </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:51111/TwoWayAuthenticationBasicService/"
                binding="customBinding" bindingConfiguration="CustomBinding_IBasicService"
                contract="BasicService.IBasicService" name="CustomBinding_IBasicService" behaviorConfiguration="EndpointBehavior">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>