<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MultipleEndpointBasicService.BasicService" behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>
            <!--certain bindings require specific prefixes, for an unsecure http connection, we use http-->
            <!--a secure http connection uses https, and netTcp uses net.tcp-->
            <!--for each baseAddress we also need to specify a different , unless we take advantage of port sharing-->
            <!--The way to access these unique endpoints is to use the endpoints address, so the secure netTcp call would access net.tcp://localhost:8735/MultipleEndpoints/secure-->
            <!--The way to access the unsecure netTcpBinding would require you call net.tcp://localhost:8735/MultipleEndpoints/unsecure-->
            <add baseAddress = "http://localhost:8733/MultipleEndpoints/" />
            <add baseAddress = "https://localhost:8734/MultipleEndpoints/" />
            <add baseAddress = "net.tcp://localhost:8735/MultipleEndpoints/" />
          </baseAddresses>
        </host>
        <!--Each endpoint also has a unique name we can specify to access it via the client-->
        <endpoint name="secureTcp" address="secure" binding="netTcpBinding" bindingConfiguration="secureNetTcpBinding" contract="MultipleEndpointBasicService.IBasicService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint name="unsecureTcp" address="unsecure" binding="netTcpBinding" bindingConfiguration="unsecureNetTcpBinding" contract="MultipleEndpointBasicService.IBasicService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint name="secureHttp" address="secure" binding="wsHttpBinding" bindingConfiguration="secureHttpBinding" contract="MultipleEndpointBasicService.IBasicService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint name="unsecureHttp" address="unsecure" binding="wsHttpBinding" bindingConfiguration="unsecureHttpBinding" contract="MultipleEndpointBasicService.IBasicService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name ="secureNetTcpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name ="unsecureNetTcpBinding">
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name ="secureHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
        <binding name ="unsecureHttpBinding">
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceCredentials>
            <serviceCertificate x509FindType="FindByThumbprint" findValue ="3c4069c8baa2381a4842d3502865fd7b6643d04e" storeLocation="LocalMachine" storeName="TrustedPeople"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
