<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="OneWayServerAuthenticationBasicService.BasicService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="customBinding" bindingConfiguration="SecureBinding" contract="OneWayServerAuthenticationBasicService.IBasicService">
          <identity>
            <!--The dns value should also be the same as the subject name of the service certificate-->
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:52499/OneWayServerAuthenticationBasicService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <!--Endpoint binding is defined here for BasicService-->
      <!--The ordering of the customBinding elements is important as it is the order in which they are applied to messages-->
      <!--The ordering should be (Transactions => Reliable Messaging => Security => Encoding => Transport)-->
      <customBinding>
        <binding name="SecureBinding">
          <!--security binding is required for certificate authentication to occur-->
          <security authenticationMode="SecureConversation">
            <!--if no bootstrap is given for SecureConversation, SspiNegotiated is used as a default-->
            <secureConversationBootstrap authenticationMode="SspiNegotiated"/>
          </security>
          <!--sslStreamSecurity binding supports channel security using an SSL stream-->
          <sslStreamSecurity/>
          <binaryMessageEncoding />
          <tcpTransport />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <!--Certificate information is defined by a service's behaviorConfiguration, the BasicService uses "DefaultBehavior" here-->
        <behavior name="DefaultBehavior">
          <!--Service Certificate is defined here-->
          <serviceCredentials>
            <!--The current find value is the certificates thumbprint, for most cases, you will want to use this as the find value as it will be unique to each certificate-->
            <!--To specify we are searching for a certificate on the machine based on its thumbprint, x509FindType is specified to be FindByThumprint-->
            <!--storeName specifies which store that the certificate is installed it and where we will be looking-->
            <!--storeLocation specifies whether we are looking at the stores on the whole machine, or the one specific to the currently signed on user-->
            <serviceCertificate findValue="9AA0366F9853B65919E765906113696BD253E5AA" storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindByThumbprint"/>
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>

<!--You can verify that a certificate is being used by opening up the Event Viewer and looking under the security tab, there should be an Open Key event with Audit Success-->
